# cache
__pycache__/
# datasets
*.conll
review/**/*
final/
# model checkpoints
*checkpoint*
*safetensors
*config.json
*id2label.json
*label2id.json
*tokenizer.json
*tokenizer_config.json
# slurm scripts
*.sh